/*////////////////////////////////////////////////////////////////////*/

.canvasClass{
    position: absolute; 

  left: 0px; 
  top: 0px;
}

/*////////////////////////////////////////////////////////////////////*/